body {
    
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

#topBar {
    
    width:auto;
    height: 50px;
    background-color: #0062B7;
    
}

#title {
    
    text-align: center;
    color: white;
    
}

#welcome {
    
    text-align: center;
    
}

#topics {
    
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

.nav {
    
    list-style: none;
    display: inline-block;

}
.nav li {
    
    text-align: center;
    padding: 5px;
    
}

#problemDescription {
    
    height:100px;
    width: 500px;
    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    
}

#diagram{
    
    width: 700px;
    height:400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1px;
}

/*This holds the equations used*/
#equations {
    
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 500px;
    margin-top: 10px; 
    background-color: antiquewhite;
    border-style: solid;
    border-width: 1px;
    
}

footer {
    
    padding: 5px;
    
}

/*eyes*/
.move-area{/*normally use body*/
  width: 100vw;
  height: 100vh;
  padding: 10% 45%;
}
.container {
  width: 100%;
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #CCC;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

    
