body {
    
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

#topBar {
    width: 100%;
    height: 100px;
}

#title {
    
    text-align: center;
    color: white;
    
}

#welcome {
    
    text-align: center;
    
}

#topics {
    
    text-align: center;
    border-style: solid;
    border-width: 2px;
}

.nav {
    
    list-style: none;
    display: inline-block;

}
.nav li {
    
    text-align: center;
    padding: 5px;
    
}

#problemDescription {

    background-color: lightgray;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    
}

#diagram{

    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    border-style: solid;
    border-width: 1px;
}

/*This holds the equations used*/
#equations {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px; 
    background-color: antiquewhite;
    border-style: solid;
    border-width: 1px;
    
}

footer {
    
    padding: 5px;
    
}

.container {
  width: 100%;
}

.row:after {
  display: flex; 
}

.rColumn{
  flex: 25%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: auto;
  background-color: aliceblue;
  border-style: solid;
  border-width: 1px;
}

.canvasDiag{
  flex: 45%;
}

#settings{
  padding: 10px;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #CCC;
  margin-top: 5px;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

.input-group{
  padding-bottom: 5px;
}

.mult-btn{
  text-align: center !important;
  padding-bottom: 5px;
}