body {

    background-image: url("../images/bg.png");
    background-repeat: repeat;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

#topBar {
    width: 100%;
    height: 100px;
}

#title {
    
    text-align: center;
    color: white;
    
}

.listTitle {
    font-size: 20px;
    margin-top: 20px;
}

.welcome {
    
    text-align: center;
    
}

.nav {
    
    list-style: none;
    display: inline-block;

}
.nav li {

    text-align: center;
    padding: 5px;
    
}

.rounded-5{
  border-radius: 5px;
}


#diagram{
	
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
}

/*This holds the equations used*/
#equations {
    
	border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px; 
  background-color: antiquewhite;
  border-style: solid;
  border-width: 1px;
    
}

.foot {

  background-color: black;
    
}

.container {
  width: 100%;
}

.row:after {
  display: flex; 
}

.rColumn{
  flex: 25%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
}

.canvasDiag{
  flex: 75%;
  max-width: 702px;
  max-height: 402px;
  margin: auto;
}

.settings{
  padding: 10px;
  text-align: center;
}

.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background: #CCC;
  margin-top: 5px;
}
.eye:after { /*pupil*/
  position: absolute;
  bottom: 17px;
  right: 10px;
  width: 10px;
  height: 10px;
  background: #000;
  border-radius: 50%;
  content: " ";
}

.input-group{
  padding-bottom: 5px;
}

.mult-btn{
  text-align: center;
  padding-bottom: 5px;
}
body.dark-mode {
    background: black;
    background-image: none;
}
.dark-mode h3 {
    color: #949494;
}
.dark-mode p {
    color: grey;
}
.dark-mode ul {
    color: grey;
    background: black;
}
.dark-mode li {
    color: grey;
    background: black;
}
.dark-mode div.row {
    background: black;
}
.logo, .logo:visited, .logo:hover, .logo:active{
  text-decoration: none;
}

input[type='number'] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}